/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply my-2 py-2 px-4 text-white bg-gray-800 rounded-lg capitalize hover:opacity-85 border-none;
}

th {
  padding-block: 15px;
}

.edit {
  @apply my-2 py-1 px-3 text-white bg-green-800 rounded-lg capitalize hover:opacity-85 border-none;
}

.view {
  @apply my-2 py-1 px-3 text-black  rounded-lg capitalize hover:opacity-85 border border-slate-400 shadow-md;
}

.user-input {
  @apply w-full mt-1 p-2 border border-slate-400 rounded-lg overflow-hidden;
}

.input-setup {
  @apply mx-2 py-1 px-2 border border-slate-400 rounded-md;
}

.star {
  @apply pl-1 text-red-600;
}

.no-scroll {
  padding: 10px;
  min-height: 80px;
  overflow: hidden;
  resize: none;
}
